<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bebidas</title>
</head>
<body>
    <section>
        <h1><u><b>BEBIDAS</b></u></h1>
        
            <h2><b><u>MENU</u></b></h2>
            <table border="1px">
                <tr>
                    <td colspan="2">naranjada</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
                
            </table>
    
        
    
            <table border="1px">
                <tr>
                    <td colspan="2">limonada</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p></p>
                        <p></p>
                        <p></p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">cafe americano</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
                
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">frappes</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>elcafe frappe o frappe es un cafe con hielo</p>
                        <p>cubierto de espuma elaborando a partir de cafe</p>
                        <p>instantaneo</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
            </table>

    </section>
    <a href="/"><u>INICIO</u></a>
</body>
</html>