<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bebidas</title>
</head>
<body>
    <section>
        <h1><u><b>BEBIDAS</b></u></h1>
        
            <h2><b><u>MENU</u></b></h2>
            <table border="1px">
                <tr>
                    <td colspan="2">Chilaquiles</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2"><p>Los chilaquiles son </p>
                        <p>un plato típico mexicano</p>
                        <p>elaborado con totopos que se </p>
                        <p>cocinan en una salsa picante</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
                
            </table>
    
        
    
            <table border="1px">
                <tr>
                    <td colspan="2">MOLLETES</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>El mollete es el nombre genérico </p>
                        <p>para multitud de panes, o </p>
                        <p>alimentos a base de pan</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">sincronizadas</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>La sincronizada es un sándwich</p>
                        <p>con una tortilla. Frecuentemente</p>
                        <p>se confunde con las quesadillas</p>
                        <p>mexicanas</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
                
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">enfrijoladas</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Las enfrijoladas son un platillo</p>
                        <p> mexicano elaborado a base de </p>
                        <p>dos ingredientes esenciales en</p>
                        <p>su gastronomía</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
            </table>

    </section>
    <a href="/"><u>INICIO</u></a>
</body>
</html>