<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
</head>
<body>
    <p>estas en el carrito</p>
    <a href="/">inicio</a>

    <section>
        <table border="1px">
            <tr>
                <td>Producto</td>
                <td>Imagen</td>
                <td>Precio</td>
                <td>Total</td>
            </tr>
            <tr>
                <td></td>
                <td><img src="#" width="150px" height="150px"></td>
                <td>$</td>
                <td>$</td>
            </tr>

        </table>
    </section>
    
</body>
</html>