<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>desayunos</title>
</head>
<body>
    <p>chilaquiles</p>
    <br>
    <p>descripcion</p>
    <p></p>
    <br>
    <p>chilaquile con salsa verde</p>
    <p>$</p>
    <p>preparados en salsa roja y chiles secos</p>

    <br>
    <p>chilaquile con salsa roja</p>
    <p>$</p>
    <p><p>preparados en salsa verde de tomate y chiles verdes como el serrano o jalapeño</p></p>
</body>
</html>