<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comida</title>
</head>
<body>
    <section>
        <h1><u><b>COMIDA</b></u></h1>
        <h2><b><u>MENU</u></b></h2>

            <h1><u><b>DESAYUNOS</b></u></h1>
    
            <h2><b><u>MENU</u></b></h2>
            <table border="1px">
                <tr>
                    <td colspan="2">TACOS DE ARRACHERA</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2"><p>se le llama arrachera a un corte</p>
                        <p>particular de carne de vacuno que proviene</p>
                        <p>del costillar del animal. Es un músculo alargado</p>
                        <p>muy escaso</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
                
            </table>
    
            <table border="1px">
                <tr>
                    <td colspan="2">PECHUGAS DE POLLO RELLENAS DE JAMON Y QUESO</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>En esta receta de pechugas de pollo cordon</p>
                        <p>bleu o milanesas de pollo te cuento paso a paso</p>
                        <p>cómo rellenarlas fácilmente y el truco para</p>
                        <p>conseguir unos filetes de pechuga muy finos</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">HAMBURGUESA DE RES Y/O POLLO</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>Pieza de carne picada aplastada y </p>
                        <p>con forma redondeada, mezclada con </p>
                        <p>diversos ingredientes</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
                
            </table>
    
            <div></div>
    
            <table border="1px">
                <tr>
                    <td colspan="2">FILETE DE PESCADO A LA PLANCHA</td>
                </tr>
                <tr>
                    <td><img src="#" height="150x" width="150px"></td>
                </tr>
                <tr>
                    <td>descripcion</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p>el pescado a la plancha. Este </p>
                        <p>método de cocción simple, pero </p>
                        <p>elegante, no solo resalta la </p>
                        <p>frescura natural del pescado</p>
                </td>
                </tr>
                <tr>
                    <td><a href="/">inicio</a></td>
                    <td><a href="">agregar</a></td>
                </tr>
            </table>  

    </section>
    <p>Estas en comida</p>
    <a href="/"><u>INICIO</u></a>
</body>
</html>